*{padding: 0;
margin: 0;
font-family: 'Amaranth', sans-serif;
}

main{
    margin-top: 30px;
    margin-bottom: 50px;
}
body{
    background-color: var(--color-background);
}

:root{font-size: 20px;
--color-background: #e1cbc2;
}

h1{
    display:flex;
    justify-content: center;
    background-color: #f37445;
    font-size: 2rem;
}
#img {
    display:flex;
    justify-content: center;
}

.pag {
    font-size: 1rem;
    display:flex;
    justify-content: space-around;
    
}

div a{
    border-radius: 25%;
    background-color: #f37445;
    color: #ffffff;
    padding: 1rem;

}
span{
    background-color: #f9f0d4;
    font-size: 0.85 rem;
}

h2{
    text-align: center;
}

/* footer{
    color:#ffffff;
    font-family: 'Amaranth', sans-serif;
    text-align: center;
} */
.foot {
    color:#ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.imgseguridad{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerparenpar {
    text-align: center;
}
#img2{
    display: flex;
    justify-content: center;
}
.container, #perro { 
    display: flex;
    justify-content: space-around; 
}

form {
    font-family: 'Quicksand', sans-serif;
    font-size: 2 rem;
    background-color: #f9f0d4;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    gap: 40px;
}

/* ponerle a los input div asi despues se separa con gap  */
form > input {
    padding: 1rem;
}