*{padding: 0;
    margin: 0;
    font-family: 'Amaranth', sans-serif;
    }
    
main{
    margin-top: 30px;
    margin-bottom: 50px;
}

body{
        background-color: var(--color-background);
}
    
:root{font-size: 20px;
    --color-background: #e1cbc2;
}
    
header {
    background-color: #f37445;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}
    
#imagendeparenpar{
    border-radius: 1rem;
    height: 17rem;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 90px rgb(255, 255, 255, 0.2);
}
    
.logosredes{
    border-radius: 1rem;
    box-shadow: inset 0 0 50px rgb(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    gap: 40px;
}
    
.logosinternos:hover{
    border-radius: 1rem;
    transform: scale(1.15);
    transition: transform 0.3s ease-out;
    scroll-behavior: smooth;
    box-shadow: inset 0px 5px 10px rgb(255, 255, 255, 0.5);
}
    
#pag {
    display:flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}
    
#pag > a{
    font-size: 1.2rem;
    border-radius: 2rem;
    background-color: #f37445;
    display: flex;
    justify-content: center;
    align-items:center;
    color: #ffffff;
    width: 9rem ;
    height: 2.5rem;
    text-decoration: none;
}
    
#pag > a:hover{
    transform: scale(1.15);
    transition: transform 0.3s ease-out;
    scroll-behavior: smooth;
    box-shadow: 0px 5px 10px #6D5A53;
}
    
h1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f37445;
    font-size: 2.3rem;
    color:#ffffff;
    margin-top: 1.5rem;
    height: 4rem;
}
    
span{
    font-size: 1.7rem;
    color: #ffffff;
}
    
h2{
    margin-top: 2rem;
    background-color: #f37445;
    text-align: center;
    height: 3rem;
    font-style: italic;
}
    
#formulario, #perro { 
    display: flex;
    justify-content: space-around; 
}
    
form {
    font-family: 'Quicksand', sans-serif;
    background-color: #f9f0d4;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 45%;
    height: 60rem;
    border-radius: 2rem;
}
    
form > label {
    margin-left: 1.5rem;
    font-size: 1.1rem;
}
    
input, form > textarea  {
    background-color: #B0CCDC;
    border-radius: 1rem;
    font-size: 2 rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 3rem;
}
    
form > textarea {
    width: 27rem;
    height: 14rem;
    color: #ffffff;
}
    
input::placeholder{
    color: #ffffff;
    font-size: 1rem;
}
    
footer {
    background-color: #f37445;
    display: flex;
    flex-direction: column;
    height: 9rem;
}
    
.foot {
    color: #ffffff;
    display: flex;
    gap: 3.5rem;
    text-align: center;
    justify-content: center;
    height: 3rem;
}
    
#logohuesoperro{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cajaboton{
    display: grid;
    grid-row: 2;
    grid-column: 3;
    margin-left: 14rem;
    margin-bottom: 0.3rem;
    width: 4.3rem;
    height: 2.3rem;
    cursor: pointer;
    box-shadow: -5px 0px 4px #2d2d2d;
    border-radius: 25px;
    border: 1px solid white;
}

.botoninterno{
    transform: scale(.7);
    background-color: linear-gradient(145deg, #d8d8d8, #ffffff);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #fff;
}

#cajaboton.active .toggle {
    left: 40px;
}

.botoninterno.active{
    background-color: #635555;
}
body.active, footer.active, header.active{
    background-color: #0f0f0f;
}
form.active {
    background-color: #303030;
    box-shadow: inset 0 0 100px #ffffff;
}
#pag.active > a{
    background-color: #474747;
    box-shadow: inset 0 0 50px #020202;
}
form.active > input, form.active > textarea {
    background-color: #0f0f0f;
}
form.active > input::placeholder{
    
}
h1.active, h2.active {
    background-color: #3b3b3b;
    box-shadow: inset 0 0 50px #020202;
}
#pag.active{
    background-color: #0f0f0f;
}