@import url(../estilos/root.css);

/*Contenido de la pagina*/
body{
    background: var(--background-primario);
}

h1{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f37445;
    font-size: 2.3rem;
    color:#ffffff;
    height: 4rem;
}

.primera-seccion{
    display:flex;
    justify-content: space-between;
    padding: 86px 150px;
    gap:170px;
    font-size: 24px;
    text-align: center;
}
.divmayor{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: #1E1E1E;
}
.divhijo{
    display: flex;
    justify-content: space-between;
}
 p {
    color:#1E1E1E;
}
.segunda-seccion{
    display: flex;
    justify-content: space-between;
    padding: 70px 150px;
    font-size: 24px;
    text-align: center;
    gap: 170px;
}

.tercera-seccion{
    display: flex;
    justify-content: space-between;
    padding: 70px 150px;
    font-size: 24px;
    text-align: center;
    gap: 170px;
}

.ultimop{
    text-align: center;
    font-size: 24px;

}
h3{
    color: #000000;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.bg-alter > .contenido > .seccion-oscura > .divmayor > .divhijo > p {
    color:#ffffff;
}
.bg-alter > .contenido > .seccion-oscura > .divmayor > p {
    color:#ffffff;
}
.bg-alter > .contenido > h3 {
    color:#ffffff;
    background:var(--background-alter);
}

.bg-alter > .contenido > .ultimop {
    color:#ffffff;
}